{% extends 'cars/_base.html' %}

{% block content %}
	This is a websocket testing page.
	All messages for car #1 will appear.
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + window.location.host + '/carsws/1');

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function onMsg(msg) {
		console.log(msg.data);
        var json = JSON.parse(msg.data);
        alert("Opened the doors of the " + json.model);
	};

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }
  </script>
{% endblock script %}
