{% extends 'cars/_base.html' %}

{% block content %}
	This is a websocket testing page.
	All messages for car #1 will appear.
	<button onclick="newLocation()">new_location</button>
	<button onclick="updateScore()">update_score</button>
	<button onclick="endTrip()">trip_end</button>
{% endblock content %}

{% block script %}
  <script>
    var socket = new WebSocket('ws://' + "130.82.5.194:8000" + '/carsws/1');
    var userid = 1;

    socket.onopen = function open() {
      console.log('WebSockets connection created.');
    };

    socket.onmessage = function onMsg(msg) {
		console.log(msg.data);
        var json = JSON.parse(msg.data);
        if (json.type == "unlock") {
            score = json.score;
            userid = json.user_id;
            alert("Safe driving and have fun, " + JSON.parse(json.user).first_name + ".");
		} else if (json.type == "encounter") {
            alert("You encountered a wild " + json.model + ". Extra points! :)");
			score = json.score
		}

	};

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

    var x = 51;
    var y = 7;
    function newLocation() {
        x += 0.1;
        y += 0.25;
        var msg = JSON.stringify({
		  type: "location_update",
	      location: x + "," + y
		});
        console.log(msg);
        socket.send(msg);
	}

	var score = 0;
	function updateScore() {
		score += 5.25;
		var msg = JSON.stringify({
		  type: "update_score",
		  user_id: userid,
	      score: score
		});
        console.log(msg);
        socket.send(msg);
	}

	function endTrip() {
	    var msg = JSON.stringify({
		  type: "end_trip"
		});
        console.log(msg);
        socket.send(msg);
	}
  </script>
{% endblock script %}
